<%= form_for(@panel_style) do |f| %>
  <% if @panel_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel_style.errors.count, "error") %> prohibited this panel_style from being saved:</h2>

      <ul>
      <% @panel_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-12">

    <h1 class="page-header">
      <small><i class="fa fa-magic"></i> Style theme</small>
      <%= f.submit 'Save changes', class: 'btn btn-success btn-sm pull-right' %>

    </h1>

  </div>
</div>
<p id="notice"><%= notice %></p>

<div class="row well well-sm">
  <h4 class="text-center">Custom your site</h4>

  <div class="col-lg-3">
    <div class="form-group input-group">
      <span class="input-group-addon">Navbar:</span>
      <%= f.color_field :nav_color, class: 'form-control' %>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group input-group">
      <span class="input-group-addon">Footer:</span>
      <%= f.color_field :footer_color, class: 'form-control' %>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group input-group">
      <span class="input-group-addon">Link:</span>
      <%= f.color_field :a_color, class: 'form-control' %>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group input-group">
      <span class="input-group-addon">Link hover:</span>
      <%= f.color_field :a_hover_color, class: 'form-control' %>
    </div>
  </div>

</div>

<div class="row well well-sm">
  <div class="col-lg-12">
    <label>Custom CSS</label>
    <%= f.text_area :custom_css, class: 'form-control', placeholder: '/* Type your CSS code here */', rows: '8' %>
  </div>
</div>

<% end %>
