<p id="notice"><%= notice %></p>

<p>
  <strong>Nav color:</strong>
  <%= @panel_style.nav_color %>
</p>

<p>
  <strong>Footer color:</strong>
  <%= @panel_style.footer_color %>
</p>

<p>
  <strong>A color:</strong>
  <%= @panel_style.a_color %>
</p>

<p>
  <strong>A hover color:</strong>
  <%= @panel_style.a_hover_color %>
</p>

<p>
  <strong>Menu color:</strong>
  <%= @panel_style.menu_color %>
</p>

<p>
  <strong>Menu hover color:</strong>
  <%= @panel_style.menu_hover_color %>
</p>

<p>
  <strong>Nav text color:</strong>
  <%= @panel_style.nav_text_color %>
</p>

<p>
  <strong>Footer text color:</strong>
  <%= @panel_style.footer_text_color %>
</p>

<%= link_to 'Edit', edit_panel_style_path(@panel_style) %> |
<%= link_to 'Back', panel_styles_path %>
