<%= form_for @panel_custom, html: { multipart: true } do |f| %>
  <% if @panel_custom.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @panel_custom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-12">

    <h1 class="page-header">
      <small><i class="fa fa-gear fa-fw"></i> Settings</small>
      <%= f.submit "Save changes", class: 'btn btn-success btn-sm pull-right' %>
    </h1>

  </div>
</div>
<p id="notice"><%= notice %></p>

<div class="row well well-sm">
  <div class="col-lg-6">
    <h4>Personal info</h4>
    <div class="form-group input-group">
      <span class="input-group-addon">Project Name:</span>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="form-group input-group">
          <span class="input-group-addon">Logo:</span>
          <%= f.file_field :logo, class: 'form-control' %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group input-group">
          <span class="input-group-addon">Favicon:</span>
          <%= f.file_field :favicon, as: :file, class: 'form-control' %>
        </div>
      </div>

    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Phone:</span>
      <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
    </div>
    <p class="help-block">The email below will be used in the contact form</p>
    <div class="form-group input-group">
      <span class="input-group-addon">Email:</span>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>


    <div class="form-group input-group">
      <span class="input-group-addon">Address:</span>
      <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
    </div>

  </div>

  <div class="col-lg-6">

    <div class="form-group">
      <label>Footer title</label>
      <%= f.text_field :footer_title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Footer text</label>
      <%= f.text_area :footer_text, class: 'form-control', rows: '5' %>
    </div>

    <div class="form-group">
      <label>Contact text</label>
      <%= f.text_area :text_contact, class: 'form-control', rows: '2' %>
    </div>

  </div>
</div>

<div class="row well well-sm">
<h4 class="text-center">Socials media</h4>
  <div class="col-lg-6">

    <div class="form-group input-group">
      <span class="input-group-addon">Facebook:</span>
      <%= f.text_field :facebook, class: 'form-control', placeholder: 'http://facebook.com/nickname' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Twitter:</span>
      <%= f.text_field :twitter, class: 'form-control', placeholder: 'http://twitter.com/nickname' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Instagram:</span>
      <%= f.text_field :instagram, class: 'form-control', placeholder: 'http://instagram/nickname' %>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group input-group">
      <span class="input-group-addon">Youtube:</span>
      <%= f.text_field :youtube, class: 'form-control', placeholder: 'http://youtube.com/channel/YoUrYoUtUbEcOdE' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Linkdin:</span>
      <%= f.text_field :linkedin, class: 'form-control', placeholder: 'http://linkedin.com/in/nickname' %>
    </div>

  </div>
</div>

<% end %>
