<%= form_for @panel_custom, html: { multipart: true } do |f| %>
  <% if @panel_custom.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @panel_custom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-12">

    <h1 class="page-header">
      <small><i class="fa fa-gear fa-fw"></i> <%= t('panel.title.settings') %></small>
      <%= f.submit t('panel.form.submit'), class: 'btn btn-success btn-sm pull-right' %>
    </h1>

  </div>
</div>

<% unless notice.blank? %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= notice %>
    </div>
<% end %>

<div class="row well well-sm">
  <div class="col-lg-6">
    <h4><%= t('panel.settings.title') %></h4>
    <div class="form-group input-group">
      <span class="input-group-addon"><%= t('panel.settings.project_name') %></span>
      <%= f.text_field :name, class: 'form-control', placeholder: '' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon"><%= t('panel.settings.logo') %></span>
      <%= f.file_field :logo, as: :file, class: 'form-control' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon"><%= t('panel.settings.favicon') %></span>
      <%= f.file_field :favicon, as: :file, class: 'form-control' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon"><%= t('panel.settings.phone') %></span>
      <%= f.text_field :phone, class: 'form-control', placeholder: '' %>
    </div>
    <p class="help-block"><%= t('panel.settings.email_help') %></p>
    <div class="form-group input-group">
      <span class="input-group-addon"><%= t('panel.settings.email') %></span>
      <%= f.email_field :email, class: 'form-control', placeholder: '' %>
    </div>


    <div class="form-group input-group">
      <span class="input-group-addon"><%= t('panel.settings.address') %></span>
      <%= f.text_field :address, class: 'form-control', placeholder: '' %>
    </div>

  </div>

  <div class="col-lg-6">

    <div class="form-group">
      <label><%= t('panel.settings.footer_title') %></label>
      <%= f.text_field :footer_title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label><%= t('panel.settings.footer_text') %></label>
      <%= f.text_area :footer_text, class: 'form-control', rows: '5' %>
    </div>

    <div class="form-group">
      <label><%= t('panel.settings.text_contact') %></label>
      <%= f.text_area :text_contact, class: 'form-control', rows: '2' %>
    </div>

  </div>
</div>

<div class="row well well-sm">
<h4 class="text-center"><%= t('panel.settings.social_media') %></h4>
  <div class="col-lg-6">

    <div class="form-group input-group">
      <span class="input-group-addon">Facebook:</span>
      <%= f.url_field :facebook, class: 'form-control', placeholder: 'http://...' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Twitter:</span>
      <%= f.url_field :twitter, class: 'form-control', placeholder: 'http://...' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Instagram:</span>
      <%= f.url_field :instagram, class: 'form-control', placeholder: 'http://...' %>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group input-group">
      <span class="input-group-addon">Youtube:</span>
      <%= f.url_field :youtube, class: 'form-control', placeholder: 'http://...' %>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon">Linkdin:</span>
      <%= f.url_field :linkedin, class: 'form-control', placeholder: 'http://...' %>
    </div>

  </div>
</div>

<% end %>
