<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @panel_custom.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @panel_custom.logo %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @panel_custom.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @panel_custom.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @panel_custom.address %>
</p>

<p>
  <strong>About:</strong>
  <%= @panel_custom.about %>
</p>

<p>
  <strong>Text Contact:</strong>
  <%= @panel_custom.text_contact %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @panel_custom.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @panel_custom.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @panel_custom.instagram %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @panel_custom.youtube %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @panel_custom.linkedin %>
</p>

<%= link_to 'Edit', edit_panel_custom_path(@panel_custom) %> |
<%= link_to 'Back', panel_customs_path %>
