<%= form_for @panel_about, html: { multipart: true } do |f| %>
  <% if @panel_about.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @panel_about.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-12">

    <h1 class="page-header">
      <small><i class="fa fa-quote-left"></i> About us</small>
      <%= f.submit 'Save changes', class: 'btn btn-success btn-sm pull-right' %>
    </h1>

  </div>
</div>
<p id="notice"><%= notice %></p>

<div class="row well well-sm">
  <h4 class="text-center">Tell us a little about you or your business</h4>
  <div class="col-lg-6">
    <div class="form-group input-group">
      <span class="input-group-addon">Title:</span>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group input-group">
      <span class="input-group-addon">Cover image:</span>
      <%= f.file_field :image, class: 'form-control', placeholder: 'Image' %>
    </div>

  </div>

<div class="col-lg-12">
    <div class="form-group">
      <label>About:</label>
      <%= f.text_area :about, class: 'form-control', placeholder: 'About...', rows: '4' %>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="form-group">
      <label>Impact text:</label>
      <%= f.text_area :blockquote, class: 'form-control', placeholder: 'Impact text...', rows: '2' %>
    </div>
  </div>

</div>

  <% end %>


