<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">MyOwnCMS</h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.email_field :email, class: 'form-control', placeholder: "#{t('devise.sessions.new.email')}", autofocus: true %>
                <p><small><%= t('devise.sessions.new.email') %>: <b>test@myowncms.com</b></small></p>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: "#{t('devise.sessions.new.password')}", autocomplete: "off" %>
                <p><small><%= t('devise.sessions.new.password') %>: <b>123456</b></small></p>
              </div>
              <div class="checkbox">
                <label>
                  <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %> <%= t('devise.sessions.new.remember_me') %>
                  <% end -%>
                </label>
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <%= f.submit t('devise.sessions.new.login'), class: 'btn btn-lg btn-success btn-block' %>
            </fieldset>
          <% end %>
        </div>
      </div>
       <% unless alert.blank? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
          </div>
      <% end %>
    </div>
    <a href=""></a>
  </div>
</div>