<% @panel_customs.each do |panel_custom| %>
<h4 class="flow-text"><%= t('title.contact') %></h4>

<div class="row">

  <div class="col s12 m6">

    <blockquote>
      <%= panel_custom.text_contact %>
    </blockquote>

    <ul class="collection">
      <li class="collection-item"><b><%= t('contact.phone') %>:</b> <%= panel_custom.phone %></li>
      <li class="collection-item"><b><%= t('contact.email') %>:</b> <%= panel_custom.email %></li>
      <li class="collection-item"><b><%= t('contact.address') %>:</b> <%= panel_custom.address %></li>
    </ul>
  </div>

  <div class="col s12 m6">
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name"><%= t('form.name') %></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email"><%= t('form.email') %></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1"><%= t('form.message') %></label>
        </div>
      </div>
      <button class="btn right waves-effect waves-light" type="submit" name="action"><%= t('form.send') %>
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
  </div>

</div>
<% end %>