<% @panel_customs.each do |panel_custom| %>
<div class="carousel carousel-slider center" data-indicators="false">
  <% @panel_slides.each do |panel_slide| %>
    <a class="carousel-item" href="<%= panel_slide.link %>">
      <img src="<%= panel_slide.image %>" width="100%" height="400">
    </a>
  <% end %>
  </div>

  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
      <% @panel_abouts.each do |panel_about| %>
        <div class="col s2">
          <%= image_tag panel_about.image.url(:medium), class: "img-rounded responsive-img", style: "width:130px;height:87px" %>
        </div>
        <div class="col s10">
          <span class="black-text">
            <h4 class="flow-text" style="margin: 0px"><%= panel_about.title %></h4>
            <%= truncate(panel_about.about, length: 300) { link_to "[Continue]", page_about_path } %>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <h4 class="flow-text">Our Services</h4>

  <div class="row">

    <% @panel_services.each do |panel_service| %>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <%= image_tag panel_service.image.url, class: 'img-rounded' %>
            <%= link_to panel_service, class: 'btn-floating halfway-fab waves-effect waves-light red' do %>
              <i class="material-icons">add</i>
            <% end %>
          </div>
          <div class="card-content">
            <p class="card-title"><%= panel_service.title %></p>
            <p><%= truncate(panel_service.description, length: 80) %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <h4 class="flow-text">Our Clients</h4>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="row valign-wrapper">
        <% @panel_clients.each do |panel_client| %>
        <div class="col s2">
          <%= link_to panel_client.link, target: '_blank' do %>
            <%= image_tag panel_client.image.url, class: "circle responsive-img" %>
          <% end %><!-- notice the "circle" class -->
        </div>
        <% end %>
      </div>
  </div>
<% end %>