<!DOCTYPE html>
<html>
<head>
  <title>MyOwnCMS</title>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <% @panel_customs.each do |panel_custom| %>
    <link rel="shortcut icon" href="<%= panel_custom.favicon %>" type="image/x-icon">
    <link rel="icon" href="<%= panel_custom.favicon %>" type="image/x-icon">
  <% end %>

</head>
<body>

<div id="wrapper">

  <%= render partial: "layouts/shared_panel/navbar" %>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <%= yield %>
      </div>
    </div>
  </div>


</body>
</html>
