<% @panel_customs.each do |panel_custom| %>

<!DOCTYPE html>
<html>
<head>
  <title><%= panel_custom.name %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <% @panel_styles.each do |panel_style| %>
    <style>
      /* Import Google Font */
      @import url('<%= panel_style.font_link %>');
      body {
        font-family: <%= panel_style.font_family.to_s %>
      }
      nav {
        background-color: <%= panel_style.nav_color %> !important;
      }
      .page-footer {
        background-color: <%= panel_style.footer_color %> !important;
      }
      <%= panel_style.custom_css %>
    </style>
  <% end %>

</head>
<body>


<!-- START NAVBAR -->
  <div class="navbar-fixed">
    <nav>
    <div class="container">
      <div class="nav-wrapper">
        <% if panel_custom.logo.blank? %>
          <%= link_to panel_custom.name, page_home_path, class: 'brand-logo' %>
        <% else %>
          <%= link_to page_home_path do %>
            <%= image_tag panel_custom.logo.url(:medium), style: 'height: 60px' %>
          <% end %>
        <% end %>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="<% if active_page == 'home' %>active<% end %>">
            <%= link_to "Home", page_home_path %>
          </li>
          <li class="<% if active_page == 'about' %>active<% end %>">
            <%= link_to "About", page_about_path %>
          </li>
          <li class="<% if active_page == 'service' %>active<% end %>">
            <%= link_to "Services", page_service_path %>
          </li>
          <li class="<% if active_page == 'contact' %>active<% end %>">
            <%= link_to "Contact", page_contact_path %>
          </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <li>
            <%= link_to "Home", page_home_path %>
          </li>
          <li>
            <%= link_to "About", page_about_path %>
          </li>
          <li>
            <%= link_to "Services", page_service_path %>
          </li>
          <li>
            <%= link_to "Contact", page_contact_path %>
          </li>
        </ul>
      </div>
    </div>
    </nav>
  </div>
<!-- END NAVBAR -->


<!-- START CONTENT -->
  <div class="container">
    <%= yield %>

  </div>
<!-- END CONTENT -->

<!-- START FOOTER -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><%= panel_custom.footer_title %></h5>
          <p class="grey-text text-lighten-4">
            <%= panel_custom.footer_text %>
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact us</h5>
          <ul>
            <li>Phone:
              <a class="white-text text-lighten-3" disable="disable">
                <%= panel_custom.phone %>
              </a>
            </li>
            <li>Email:
              <a class="grey-text text-lighten-3" href="mailto:<%= panel_custom.email %>">
                <%= panel_custom.email %>
              </a>
            </li>
            <li>
              <%= panel_custom.address %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

      © <%= Date.today.year %> Copyright - <%= panel_custom.name %>
      <% unless panel_custom.linkedin.blank? %>
        <a class="social grey-text text-lighten-4 right" href="<%= panel_custom.linkedin %>" target="_blank">LinkedIn</a>
      <% end %>
      <% unless panel_custom.youtube.blank? %>
        <a class="social grey-text text-lighten-4 right" href="<%= panel_custom.youtube %>" target="_blank">Youtube</a>
      <% end %>
      <% unless panel_custom.instagram.blank? %>
        <a class="social grey-text text-lighten-4 right" href="<%= panel_custom.instagram %>" target="_blank">Instagram</a>
      <% end %>
      <% unless panel_custom.twitter.blank? %>
        <a class="social grey-text text-lighten-4 right" href="<%= panel_custom.twitter %>" target="_blank">Twitter</a>
      <% end %>
      <% unless panel_custom.facebook.blank? %>
        <a class="social grey-text text-lighten-4 right" href="<%= panel_custom.facebook %>" target="_blank">Facebook</a>
      <% end %>
      </div>
    </div>
  </footer>
<!-- END FOOTER -->

  <script>
    $(".button-collapse").sideNav();
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    $(document).ready(function() {
      Materialize.updateTextFields();
    });

  </script>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
<% end %>
