<% @panel_customs.each do |panel_custom| %>

<!DOCTYPE html>
<html>
<head>
  <title><%= panel_custom.name %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%#= favicon_link_tag '<%= panel_custom.favicon' %>

  <%= csrf_meta_tags %>

<link rel="shortcut icon" href="<%= panel_custom.favicon %>" type="image/x-icon">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" href="<%= panel_custom.favicon %>" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">


  <%= render partial: "layouts/shared_site/custom_css" %>

</head>
<body>

  <%= render partial: "layouts/shared_site/navbar" %>

<!-- START CONTENT -->
  <div class="container">
    <%= yield %>
  </div>
<!-- END CONTENT -->

  <%= render partial: "layouts/shared_site/footer" %>

  <p class="text-center">
    <%= link_to "https://github.com/leandromac/MyOwnCMS", target: '_blank' do %>
      <i class="fa fa-github fa-2x" style="margin-top:10px"></i>
    <% end %>
  </p>
  <script>
    $(".button-collapse").sideNav();
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    $(document).ready(function() {
      Materialize.updateTextFields();
    });
  </script>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>

<% end %>
