<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="col-lg-12">

      <h1 class="page-header">
        <small><i class="fa fa-quote-left"></i> <%= t('panel.menu.user.edit')%></small>
        <%= f.submit t('panel.form.submit'), class: 'btn btn-success btn-sm pull-right' %>
      </h1>

    </div>
  </div>
<p id="notice"><%= notice %></p>

  <div class="row well well-sm">

    <div class="col-lg-4">
      <div class="form-group input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email',disabled: 'disabled', autofocus: true %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    <% end %>
    <div class="col-lg-4">
      <div class="form-group input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password, class: 'form-control', placeholder: "#{t('panel.menu.user.password')}", autocomplete: "off"  %>
      </div>


    </div>

    <div class="col-lg-4">
      <div class="form-group input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "#{t('panel.menu.user.password_confirmation')}", autocomplete: "off"  %>
      </div>
    </div>

    <div class="col-lg-4"></div>
    <div class="col-lg-4 alert alert-danger">
      <div class="form-group input-group has-danger">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :current_password, class: 'form-control', placeholder: "#{t('panel.menu.user.current_password')}", disabled: 'disabled', autocomplete: "off"  %>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>

<% end %>

<p class="text-center text-danger"><%= t('panel.menu.user.without_permition') %></p>
